@import "tailwindcss";

/* small custom utilities */
:root{
  --primary:#ec4899;
}
.btn-primary{
  @apply bg-pink-600 text-white px-4 py-2 rounded-lg shadow;
}
.card {
  @apply bg-white rounded-xl shadow p-5;
}
